body{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: arial,verdana;
}
html
{
	font-size: 62.5%; 
}
.header
{
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 60vh;
	justify-content: space-around;
}
.titulo
{
	padding: 10px;
	font-size: 1.8rem;
	color: #01468B;
}
.titulo h1:hover
{
	color: #e89e1e;
}
.articulos
{
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}
.articulos h1
{
	text-align: center;
}
.articulos article
{
	

}
.footer{
	background: #222447;
	color: white;
	padding: 2rem;
	text-align: center;
	font-size: 1.8rem;
}